<div role="main">
      <div class="container">


            <script type="text/ng-template" id="ReservationInfoModal.html">
                  <div class="modal-header">
                        <h3 class="modal-title" id="myModal">Room Information</h3>
                        <!--<label id="label">Room Information</label>-->
                  </div>
                  <div class="modal-body">
                        <div class="panel panel-default">
                              <div class="panel-body">
                                    <div class="media">
                                          <div class="media-body">
                                                <hr>
                                                <h3><strong>Name:</strong></h3>
                                                <p>{{ Info.first_name }} {{ Info.last_name }}</p>
                                                <hr>
                                                <h3><strong>City:</strong></h3>
                                                <p>{{ Info.city_name }}</p>
                                                <hr>
                                                <h3><strong>Address:</strong></h3>
                                                <p>{{ Info.address }}</p>
                                                <hr>
                                                <h3><strong>Room:</strong></h3>
                                                <p>{{ Info.room_nr }}</p>
                                                <hr>
                                                <h3><strong>Reserved at:</strong></h3>
                                                <p>{{ Info.created_at }}</p>
                                                <hr>
                                                <h3><strong>Reservation start:</strong></h3>
                                                <p>{{ Info.start_date }}</p>
                                                <hr>
                                                <h3><strong>Reservation end:</strong></h3>
                                                <p>{{ Info.end_date }}</p>
                                                <hr>
                                                <h3><strong>Reserved equipment:</strong></h3>
                                                <p>
                                                      <div ng-repeat="item in equipmentByReservation">{{item.equipment_type}} {{item.equipment_code}}</div>
                                                </p>
                                                <hr>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-click="delete(Info.id)">Delete</button>
                        <button type="button" class="btn btn-primary" ng-click="toggle(Info.id)">Edit</button>
                        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
                  </div>
            </script>
            <!---                     CALENDAR                           -->
            <section id="directives-calendar">
                  <div class="page-header">
                        <h1>Reservations calendar</h1>
                  </div>
                  <div class="well">
                        <div class="span8">
                              <tab select="renderCalendar('myCalendar3');">
                                    <tabset>
                                          <div class="btn-toolbar">
                                                <div class="btn-group">
                                                      <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar3')">Day</button>
                                                      <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar3')">Week</button>
                                                      <button class="btn btn-success" ng-click="changeView('month', 'myCalendar3')">Month</button>
                                                </div>
                                          </div>
                                          <div class="form-group">
                                                <label for="city">City</label>
                                                <select ng-model="city" class="form-control" ng-change="SelectedCity(city)" ng-options="item.city_name as item.city_name for item in cities">
                                            <option value="">All cities</option>
                                       </select>
                                          </div>
                                          <div ng-show="buildingStatus=='true'" class="form-group">
                                                <label for="building">Building</label>
                                                <select ng-model="building" class="form-control" ng-change="setSelectedBuilding(building)" ng-options="item.address as item.address for item in cityBuildings">
                                    <option value="">Select building</option>
                                    </select>
                                          </div>
                                          <div class="calendar" ng-model="eventSources" calendar="myCalendar3" ui-calendar="uiConfig.calendar"></div>
                              </tab>
                              </tabset>
                        </div>
                  </div>
      </div>